html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
	background: gray;
	padding-top: 70px; 
	font-family: 'Ubuntu', sans-serif;
}

.white {
	color: #fff;
}


.rounded-corners {
   border-radius: 1.1em;
}

input.has-error {
  border: 1px solid red;
}

form.red-bg {
  background-color: #fee;
  border: 1px solid #fbb;
}


a {
  cursor: pointer;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color: #a00 !important;
    background-color: transparent
}

.bottom-nav {
  min-height: 15px !important;
}

address {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.icon-refresh-animate {
  animation-name: rotateThis;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
 
@keyframes "rotateThis" {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}